name: documentation

on:
  workflow_dispatch:

  release:
    types: [published]

jobs:
  checks:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 18
          cache: 'yarn'
      - uses: webfactory/ssh-agent@v0.7.0
        with:
          ssh-private-key: ${{ secrets.GH_PAGES_DEPLOY }}
      - uses: denoland/setup-deno@v1
        with:
          deno-version: v1.x
      - name: Extract API
        run: |
          yarn setup
          lerna run bundle:types
          yarn extract-api
      - name: Generate API Docs
        run: deno run --import-map import_map.json --allow-read --allow-write --no-check src/main.ts -i input -o ../docs/api
        working-directory: doc-gen
      - name: Release to GitHub Pages
        env:
          USE_SSH: true
          GIT_USER: git
        run: |
          git config --global user.email "vitoke@gmail.com"
          git config --global user.name "vitoke"
          if [ -e yarn.lock ]; then
            yarn install --frozen-lockfile
          elif [ -e package-lock.json ]; then
            npm ci
          else
            npm i
          fi
          npm run deploy
        working-directory: docs
