name: Publish release to NPM
on:
  workflow_dispatch:

permissions:
  id-token: write  # Required for OIDC
  contents: write

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Configure git credentials
        uses: OleksiyRudenko/gha-git-credentials@v2-latest
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
      - name: Attach to main branch
        run: git checkout main && git pull
      # Setup .npmrc file to publish to npm
      - uses: actions/setup-node@v4
        with:
          node-version: '24'
          registry-url: 'https://registry.npmjs.org'
          cache: 'yarn'
          # Defaults to the user or organization that owns the workflow file
          scope: '@rimbu'
      - run: yarn install --frozen-lockfile
      - name: Build
        run: yarn build
      - name: Bump versions and publish packages
        run: yarn version:ci
        env:
          GH_TOKEN: ${{secrets.GITHUB_TOKEN}}
      - name: Publish packages
        run: yarn publish:ci
        env:
          GH_TOKEN: ${{secrets.GITHUB_TOKEN}}
