name: Publish release to NPM
on:
  workflow_dispatch:

permissions:
  id-token: write  # Required for OIDC
  contents: read

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Attach to main branch
        run: git checkout main && git pull
      # Setup .npmrc file to publish to npm
      - uses: actions/setup-node@v4
        with:
          node-version: '24'
          registry-url: 'https://registry.npmjs.org'
          cache: 'yarn'
          # Defaults to the user or organization that owns the workflow file
          scope: '@rimbu'
      - run: yarn install --frozen-lockfile
      - name: Build
        run: yarn build
      - name: Set up Git user
        run: |
          git config --global user.name "Arvid Nicolaas"
          git config --global user.email "arvid@rimbu.org"
      - name: Bump versions and publish packages
        run: yarn version:ci
      - name: Publish packages
        run: yarn publish:ci
